<!DOCTYPE html>

<html>
  <head>
    <title>Cool Ads</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <!-- bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
     <!-- fa fa icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <div class="home">
      <div class="posts">
        <h1>KING BB</h1>
          <div class="video-container">
              <iframe src="https://www.youtube.com/embed/SgXSomPE_FY" id="myvideo" frameborder="0"></iframe>
              <div class="ads-container">
                <a href=""> 
                <div class="ads" ># BBTK @   
                 <i class="fa fa-instagram" style="font-size:25px;border-radius:10px;"></i>
                </div> 
                <div class="overlay">
                </div>
                </a>
              </div>
              
          </div>
          
        <h1>RHCP</h1>
          <div class="video-container"> 
             <iframe src="https://www.youtube.com/embed/FmrGz8qSyrk" id="myvideo" frameborder="0"></iframe>
              
             <div class="twit-container">
               <a href="">
                <div class="twit-ads">
                  <i class="fa fa-twitter" id="bird"></i> 
                  <span> <%= this.post %></span>
                  
                  <img src="../images/rhcp.png", alt="" width='85'/>
                </div>  
               </a>
              <div class="twit-overlay"></div> 
           </div>   
          </div>    
      </div>
     </div>
  </body>
</html>
